h1{
  font-size: 5.5vw;
  font-family: sans-serif;
}

h2{
  font-size: 5.5vw;
  font-family: sans-serif;
  padding-top: 50px;
  text-align: center;
}

h3{
  font-family: Georgia;
}

h4{
  font-family: Georgia;
  font-style: italic;
  font-weight: bold;
}

a{
  color: #FFFFFF;
}

a:hover{
  color: #39FF14;
  text-decoration: none;
}

.container-fluid{
  padding: 0;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

.fixed{
  position: fixed;
}

.side-menu{
  height:100vh;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #888888;
}

.side-menu > ul{
  text-align: center;
  margin: auto 0 auto 0;
  padding: 0;
}

.side-menu > ul > li {
  list-style-type: none;
  line-height: 100px;
  font-size: 50px;
  /* font-weight: bold; */
  font-family: sans-serif;
  color: #FFFFFF;
}

.active{
  color: #39FF14;
}

.col-sm-4, .col-sm-8{
  padding: 0;
}

.right-side{
  background-color: #FAFAFA;
  background-size: 100% 100%;
  margin-left: auto;
  height: 100vh;
  overflow-x: scroll;
}

.home, .about, .skills, .portfolio, .contact{
  height: 100%;
}

.content{
  margin: 0;
}

.headshot{
  border-radius: 100%;
  height: 18em;
  width: 18em;
  border: 10px solid;
  border-color: #39FF14;
  margin: 100px 0 100px 0;
}

.home-text{
  background-color: #FFFFFF;
  margin: 0 30px;
  padding: 20px 0;
}

.line-before::before{
  content: '';
  width: 15%;
  border-bottom: solid 5px #39FF14;
  position: absolute;
  z-index: 1;
}

/* about page */

.about-bg{
  margin-left: 30px;
  margin-top: 25px;
  background-color: #FFFFFF;
  width: 500px;
  height: 391.3px;
  z-index: 1;
  position: relative;
}

.about-text{
  padding: 30px;
}

.about-photo{
  width: 450px;
  height: 450px;
  z-index: 0;
  position: absolute;
  right: 5%;
  bottom: -85%;
}

.about-bg{
  margin-left: 30px;
  margin-top: 25px;
  background-color: #FFFFFF;
  width: 500px;
  height: 391.3px;
  z-index: 1;
  position: relative;
}

.about-text{
  padding: 30px;
}

/* skills page */

.skills-bg{
  /* margin-left: 30px; */
  margin-top: 15px;
  background-color: #FFFFFF;
  width: 20em;
  height: 19em;
  z-index: 1;
  position: relative;
}

.skills-bg-left{
  margin-left: 30px;
}

.skills-bg-right{
  margin-right: 30px;
}

.skills-text{
  padding: 30px;
  text-align: center;
  font-family: Georgia
}

.skills-text > ul{
  padding: 0;
}

.skills-text > ul > li {
  list-style-type: none;
  font-size: 20px;
}

.skills-photo{
  width: 446px;
  height: 440.5px;
  z-index: 0;
  position: absolute;
  left: 5%;
  bottom: -195%;
}

/* portfolio page */

/* contact page */

.contact-bg{
  margin-left: 30px;
  margin-top: 175px;
  background-color: #FFFFFF;
  width: 27.5em;
  height: 15em;
  z-index: 1;
  position: relative;
}

.contact-text{
  padding: 30px;
  text-align: right;
  font-family: Georgia;
  font-size: 30px;
}

.contact-text > ul{
  padding: 0;
}

.contact-text a{
  color: #000000;
}

.contact-text a:hover{
  color: #39FF14;
}

.contact-text > ul > li {
  list-style-type: none;
  font-size: 30px;
}

.contact-photo{
  min-width: 60%;
  max-height: 60%;
  z-index: 0;
  position: absolute;
  right: 5%;
  bottom: -380%;
}
